/* 반응형 적용 */
@media screen and (min-width:720px) {
    .button {
        font-size: 20px;
    }

    /* 메뉴 버튼 이미지를 폰트 크기에 맞춤 */
    .menu-button img {
        margin-right: 1em;
        width: 52px;
        height: 52px;
    }

    .menu-button span {
        margin-left: 1em;
    }

    #search-hospital-button img {
        height: 25px;
    }

    #main {
        float: left;
        width: 35%;
        height: 100%;
    }

    #main-character {
        margin-top: 3em;
    }

    #menus {
        float: left;
        width: 65%;
        height: 100%;
    }

}

@media screen and (max-width:719px) {
    .button {
        font-size: 18px;
    }

    /* 메뉴 버튼 이미지를 폰트 크기에 맞춤 */
    .menu-button img {
        margin-right: 0.6em;
        width: 48px;
        height: 48px;
    }

    .menu-button span {
        margin-left: 0.6em;
    }

    #search-hospital-button img {
        height: 22px;
    }

    #main {
       padding: 0 2em;
    }

    #menus {
        height: 300px;
        padding-bottom: 2%;
    }
}

body {
    margin: 0;
    min-height: 500px;
    height: 100%;
    width: 100%;
    min-width: 320px; /* 너무 작은 해상도에서 깨짐 방지 */
}

.button {
    color: white;
    border: 0;
    border-radius: 4px;
}

.menu-button {
    width: 100%;
    height: 100%;
    display:table;
}

.menu-button span {
    text-align: left;
    margin-left: 0.6em;
    float: left;
    display: table-cell;
    vertical-align: middle;
}

.menu-button img {
    margin-right: 0.6em;
    float: right;
    display: table-cell;
    vertical-align: middle;
}

#main{
    background-color: 00CCFF;
}

#menus {
    background-color: E6E6E6;
    overflow: hidden;
}

/* 메인 div 부분 스타일 적용 */

#main-header {
    height: 10%;
    padding: 1em;
    text-align: center;
}

#main-character {
    padding: 1em 2.5em;
    max-height: 100%;
}

#main-button {
    padding: 1em;
    text-align: center;
}

#main-logo-image {
    width: 45%;
    height: auto;
    padding-left: 15%;
}

#main-search-image {
    width: 15%;
    height: auto;
    float: right;
}

#main-character-image {
    width: 100%;
    height: auto;
}

/* 메뉴 div 부분 스타일 적용 */

#search-hospital-button {
    padding: 1em 1.5em;
    background-color: 155ABC;
}

#search-hospital-button img {
    width: auto;
    vertical-align: top;
}

#search-phar {
    float: left;
    height: 30%;
    width: 47%;
    margin: 2% 2% 0 2%;
}

#search-phar-button {
    background-color: 00EA97;
}

#sit-hospital {
    float: left;
    height: 30%;
    width: 47%;
    margin: 2% 2% 0 0;
}

#sit-hospital-button {
    background-color: 4BB2CE;
}

#hospital-event {
    float: left;
    width: 96%;
    height: 30%;
    margin: 2% 2% 0 2%;
}

#hospital-event-button {
    background-color: FC8B68;
}

#goodoc-cast {
    float: left;
    width: 96%;
    height: 30%;
    margin: 2% 2% 0 2%;
}

#goodoc-cast-button {
    background-color: AE8AB6;
}
